body {
    
    height: 100%;
    background: #c0c0c0 url("../images/pc.png") no-repeat;
    background-size: cover;
    background-attachment: scroll;
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000033;
}

div.container {
    background-color: #ddc59d;
    width: 90%;
    height: 100%;
    margin: 0px auto;
    border: transparent;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 5px #777777;
}

header,
footer,
nav {
    display: block;
}

header {
    width:100%;
    padding: 20px 0px 20px 0px;
    border: transparent;
    border-radius: 50px;
    margin: 0px auto 0px auto 50px;
}

header img {
    width: 120px;
    height: 60px;
}

h1, h2, h3 {
    color: #000033;
}

@media screen and (min-device-width: 600px) {
    div.container {
        background-color: #ddc59d;
        width: 90%;
        height: 100%;
        margin: 20px auto 0px auto;
        border: transparent;
        padding: 20px;
        box-sizing: border-box;
    }

    header {
        width: 90%;
        height: auto;
        border-radius: 50px;
        margin: 20px auto 0px auto;
    }
}

header a:link,
header a:active,
header a:visited,
header a:hover {
    text-decoration: none;
}

header nav {
    width: auto;
    margin: 0px auto;
    padding: 0px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    background-color: #ddc59d;
    font-size: 20px;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 0 0 0 10px;
    border-top: 1px solid #ddc59d;
    border-bottom: 1px solid #ddc59d;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    border: transparent;
    border-radius: 50px 50px;
}

header nav ul li a:link {
    color: #000033;
}

header nav ul li a:visited {
    color: #000033;
}

header nav ul li a:active {
    color: #eddd9e;
    background-color: #000033;
    padding: 0px 0px 0px 10px;
}

header nav ul li:hover {
    border-top: 1px solid #eddd9e;
    border-bottom: 3px solid #eddd9e;
}

header nav ul li a:hover {
    color: #eddd9e;
}

header nav ul li.current {
    background-color: #ddc59d;
}

header nav ul li.current a {
    color: #000033;
}

header nav ul li.current a:active {
    background-color: #000033;
}

@media screen and (min-device-width: 600px) {
    header nav {
        width: auto;
        background-color: #ddc59d;
        text-align: center;
        border: transparent;
        border-radius: 20px;    
        box-shadow: 0px 0px 5px 5px #777777;
    }
    header nav ul {
        width: auto;
        margin: 0 auto;
        padding: 0;
    }
    header nav ul li {
        display: inline-block;
        width: auto;
        height: 20px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        border: transparent;
        font-size: 20px;
    }
    header nav ul li a:link,
    header nav ul li a:visited,
    header nav ul li a:hover,
    header nav ul li a:active {
        color: #000033;
    }
    
    header nav ul li:hover {
        border: transparent;
    }
    header nav ul li.current {
        background-color: #000033;
    }
    header nav ul li.current a {
        color: #330033;
    }
    header nav ul li.current a:hover {
        background-color: #000033;
    }

    header nav ul li a:hover {
        color: #eddd9e;
    }

    header nav ul li.current a:active {
        background-color: #000033;
    }
}

fieldset {
    width: auto;
    height: auto;
    border: 2px solid #000033;
    border-radius: 5px;
    clear: both;
    margin: 20px auto 10px auto;
    padding: 10px;
    box-align: center;
    box-sizing: border-box;
}

input[type="text"],
input[type="number"] {
    background-color: #ffffff;
    color: #000033;
    font-size: 20px;
    font-weight: bold;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
}

select {
    background-color: #ffffff;
    color: #000033;
    font-size: 20px;
    font-weight: bold;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
}

input[type="submit"],
button {
    display: block;
    width: auto;
    height: auto;
    background-color: #000033;
    color: #eddd9e;
    font-size: 20px;
    font-weight: bold;
    border: transparent;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    clear: both;
    margin: 20px auto 0px auto;
    box-align: center;
}

input[type="submit"]:hover,
button:hover {
    background-color: #000066;
    box-shadow: 0 5px 5px 0 #333333;
}

input[type="submit"]:active,
button:active {
    background-color: #000044;
}

@media screen and (min-device-width: 600px) {
    input[type="text"],
    input[type="number"] {
        background-color: #ffffff;
        color: #000033;
        font-weight: bold;
        border: transparent;
        border-radius: 5px;
        padding: 5px;
    }
    
    select {
        background-color: #ffffff;
        color: #000033;
        font-weight: bold;
        border: transparent;
        border-radius: 5px;
        padding: 5px;
    }

}

label {
    color: #000033;
}

.twos, .threes, .fours, .fives {
    display: inline-block;
    width: 35%;
    height:auto;
    margin: 20px auto 10px auto;
    padding: 10px;
    float: center;
    box-sizing: border-box;
}


@media screen and (min-device-width: 600px) {
    .twos {
        display: inline-block;
        width: 35%;
        height:auto;
        margin: 20px auto 10px auto;
        padding: 10px;
        float: center;
        box-sizing: border-box;
    }


    .threes {
        display: inline-block;
        width: 30%;
        height: auto;
        margin: 20px auto 10px auto;
        padding: 10px;
        float: center;
        box-sizing: border-box;
    }

    .fours {
        display: inline-block;
        width: 20%;
        height: auto;
        margin: 20px auto 10px auto;
        padding: 10px;
        float: center;
        box-sizing: border-box;
    }

    .fives {
        display: inline-block;
        width: 17%;
        height: auto;
        margin: 20px auto 10px auto;
        padding: 10px;
        float: center;
        box-sizing: border-box;
    }

}

select#department {
    width: 80%;
    max-width: 90%;
}

footer {
    height: 20px;
    width: 90%;
    text-align: center;
    background-color: #ddc59d;
    color: #000033;
    font-weight: bold;
    border: transparent;
    border-radius: 50px;
    text-align: center;
    margin: 30px auto 0 auto;
    padding: 15px;
    box-shadow: 0px 0px 5px 5px #777777;
}

footer a:link,
footer a:visited {
    color: #000033;
    text-decoration: none;
}

footer a:hover {
    color: #eddd9e;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

footer ul li {
    display: inline;
    margin: 5px;
}

@media screen and (min-device-width: 600px) {

    footer {
        width: 90%;
        height: auto;
        margin: 20px auto 0px auto;
    }

}
a {
    color: #000066;
}

a:link,
a:active {
    text-decoration: none;
}

a:visited {
    color: #330033;
}

table {
    width: 60%;
    color: #eddd9e;
    margin: 40px auto 0px auto;
    font-size: 20px;
}

table caption {
    color: #000033;
}

tr {
    text-align: center;
    border: 3px solid #eddd9e;
    border-radius: 20px;    
    color: #000033;
}

th {
    background-color: #000033;
    color: #eddd9e;
}

.even_row {
    background-color: #ddc59d;
}

.odd_row {
    background-color: #ccb48c;
}